@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
.fs{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    
    
}
.fw{
    color: rgb(255, 255, 255);
}
.bg:hover{
    background-color: #166534;
    color :black;
}

.image{
    /* background-image: url("../assets/Code.png"); */
    background-size: cover;
    
    width: 600px;
    height: 300px;   
}

.b2{
    width: 600px;
    height: 400px;     
    display: flex;
    justify-content: center;
    align-items:center;   
}
.b3{
    height: 300px;
    width: 500px;
    text-align: left;
}
.t1{
    margin-top: 80px;
}
.height{
    
    height: 220px;
}



/* ----------SignUP 2---------- */

.back-bg{
    background-image: url("../assets/Sign-bg.jpg");
    background-size: contain;
    
}





.m{
    margin-right: 65px;
}


/*----------------------- About  ---------------- */
.sec3{
    background-image: url("../assets/About-bg.png");
    background-size: cover;
    /* background-attachment: fixed;  */
    background-repeat: no-repeat;
}
.image1{
    background-image: url("../assets/b3.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 118px;
    /* height: 700px; */
}

.same{
    margin-top: 200px;
    margin-bottom: 200px;
    height: 600px;
    width: 500px;
    /* border: 2px solid black; */
}


/* ---------Contact Page ------------- */

.contact{
    background-image: url("../assets/Contact-bg.png");
    background-size: cover;
}

/* .sec2{
    background-image: url("../assets/sec2.png");
    background-size: cover;
    
} */


/* Adimm bg  */

.admin-bg{
    background-image: url('../assets/admin-form-bg.jpg');
    background-size: cover;
}

/* background */

.bg-contact{
    background-image: url('../assets/Contact-bg.png');
    background-size: cover;
}